<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learning C++ by Creating Games with UE4 - Chapter 3. Looping</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/bootstrap-xl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- Devicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- Prism -->
    <link rel="stylesheet" href="css/prism.css">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="language-markup">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Remove Card</h4>
      </div>
      <div class="modal-body">
              <p>Are you sure you want to remove this card?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
  

    <div id="wrapper">

        <!-- Top Nav Bar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand toggle-nav" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars fa-lg"></i></a>
                  <a class="brand-logo active" href="dashboard.html"><img src="images/mapt-logo.png"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#contact"><i class="fa fa-question-circle fa-lg mr5"></i> Help</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret ml5"></span>
                        </a>
                        <a href="#" class="dropdown-toggle navbar-avatar-link hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/000/222/015/06be2f6.jpg" alt="..." class="img-circle img-responsive navbar-avatar">
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a href="#">View Account</a></li> 
                            <li><a href="#">View Subscriptions</a></li> 
                            <li><a href="#">View Licences</a></li> 
                            <li role="separator" class="divider"></li> 
                            <li><a href="library-lo.html">Logout</a></li> 
                        </ul> 
                    </li>
                    </ul>
                    <form class="navbar-form navbar-right search-nav-collapse">
                        <div class="form-group pull-right" style="display:inline;">
                            <div class="input-group">
                              <input class="form-control" type="text" placeholder="Search the library...">
                              <span class="input-group-btn"><button href="search.html" class="btn btn-default" type="button"><i class="fa fa-search"></i></span></button></span>
                            </div>
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                    <li class="active"><a href="dashboard.html" class="sidenav-menu-holder"><span class="sidenav-menu">Dashboard</span><span class="pull-right mr5"><i class="fa fa-refresh fa-lg"></i></span></a>    </li>
                    <li><a href="library.html" class="sidenav-menu-holder"><span class="sidenav-menu">Explore The Library </span><span class="pull-right mr5"><i class="fa fa-archive fa-lg"></i></span></a>    </li>
                    <li><a href="dashboard-bookmark.html" class="sidenav-menu-holder"><span class="sidenav-menu">My Bookmarks </span><span class="pull-right mr5">6<i class="fa fa-bookmark fa-lg"></i></span></a>    </li>
                    <li><a href="dashboard-collection.html" class="sidenav-menu-holder"><span class="sidenav-menu">My Collection </span><span class="pull-right mr5">12<i class="fa fa-plus fa-lg"></i></span></a>    </li>
                    <li><a href="dashboard-owned.html" class="sidenav-menu-holder"><span class="sidenav-menu">Purchases  </span><span class="pull-right mr5">7<i class="fa fa-shopping-bag fa-lg"></i></span></a>    </li>
                
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper" class="">
            <div class="jumbotron heading">
                <div class="container-fluid">
                  <div class="col-sm-8">
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/000/222/015/06be2f6.jpg" alt="..." class="img-responsive img-thumbnail">
                    <h1 class="mt15">Oli Huggins </h1>
                    <ol class="breadcrumb row mt0">
                      <li class="active mt5"><b>Current Role:</b> Python Developer <a href="select-goal.html" class="ml10"><small><i class="fa fa-cog mr5"></i> Change Role</small></a></li>
                    </ol>
                  </div>
                </div>
            </div>
            <div id="book-wrapper" onload="finishLoad()" ng-include="" src="views.book" class="container-fluid">               
                <div class="row">
                        <div class="">
                            <div class="col-sm-12">
                              <ul id="recommendationTabs" class="nav nav-tabs hidden-xs" role="tablist">
                                  <li class="active">
                                      <a href="#popular" role="tab" data-toggle="tab" aria-controls="popular" ng-click="$event.preventDefault();" aria-expanded="false">Current Learning</a>
                                  </li>
                                  <li class="">
                                      <a href="#recommended" ng-click="$event.preventDefault();" role="tab" data-toggle="tab" aria-controls="recommended" aria-expanded="true" ng-if="libraryController.userRecommendations" class="ng-scope">What I've Done</a>
                                  </li>
                              </ul>
                              <div class="tab-content mt15">
                                  <div role="tabpanel" class="tab-pane fade active in" id="popular" aria-labelledby="popular-tab">
                                    <div class="">
                                      <div class="col-sm-6">
                                        <div class="alert alert-info mt5" role="alert">
                                          <i class="fa fa-info-circle fa-lg mr15 "></i>Click the <b>Skill Deck</b> on the right to select the <b>Card</b> you want to learn
                                        </div>
                                      </div>
                                      <div class="col-sm-6">
                                       <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                          <div class="panel panel-default">
                                            <div class="panel-heading clickable" role="tab" id="headingOne"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              <button type="button" class="close" data-toggle="modal" data-target="#myModal"><span aria-hidden="true">×</span></button>
                                              <img class="tech-icon drop hidden-xs" src="images/tech/python.png"/>
                                              <h1 class="card-heading mb5 mt0">Python Fundamentals</h1>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="list-group">
                                                  <a href="#" class="list-group-item pt15 pb15">
                                                    <button type="button" class="close" data-toggle="modal" data-target="#myModal"><span aria-hidden="true">×</span></button>
                                                    <img class="tech-icon drop hidden-xs" src="images/tech/python.png"/>
                                                    <h1 class="card-heading mb5 mt0">High Performance Python </h1>
                                                  </a>
                                                  <a href="#" class="list-group-item pt15 pb15">
                                                    <button type="button" class="close" data-toggle="modal" data-target="#myModal"><span aria-hidden="true">×</span></button>
                                                    <img class="tech-icon drop hidden-xs" src="images/tech/django.png"/>
                                                    <h1 class="card-heading mb5 mt0">Production Ready Django </h1>
                                                  </a>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="col-sm-5 col-xl-6">
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h3 class="panel-title">Card Requirements</h3>
                                          </div>
                                          <div class="panel-body learning-skillcard">
                                            <ul class="learning-points">
                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                <li>Use Git to manage your Python code</li>
                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                <li>Use unit tests to write better code, faster</li>
                                            </ul>
                                            <a href="dashboard2.html" class="btn btn-default btn-block mt10 mb5">I know all of this <i class="glyphicon glyphicon-ok ml10"></i></a>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-sm-7 col-xl-6">
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h3 class="panel-title">Card Resources</h3>
                                          </div>
                                          <ul class="list-group">
                                              <a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                              <img src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/9689_B03980_Practical%20Machine%20Learning_.jpg" class="img-product-list"/>
                                                  <strong ng-bind-html="fivePopular.title" class="ng-binding">Python Essentials</strong>
                                                  <span class="animate-switch-container hidden-xs" ng-switch="" on="fivePopular.field_book_series">
                                                     <span class="badge-learn badge pull-right ng-scope" ng-switch-when="learning">Learner</span>
                                                  </span><br>
                                                  <p>By Steven Lott</p>
                                                    <!-- Feefo Star Rating -->
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                    <img src="https://dz13w8afd47il.cloudfront.net/sites/all/themes/packt_v4/images/feefo-logo-simple.png" class="simple-feefo-logo">    
                                                    <!-- Feefo Star Rating END -->    
                                                  <br>
                                                  <p class="concat mb0 mt10"><strong>Continue Viewing:</strong> Chapter 9: Advancing Python</p>
                                                  
                                                </a>
                                              <a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                                  <img src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/8751OS_1698_Learning%20Drupal%208.jpg" class="img-product-list"/>
                                                  <strong ng-bind-html="fivePopular.title" class="ng-binding">Learning Drupal 8</strong>
                                                  <span class="animate-switch-container hidden-xs" ng-switch="" on="fivePopular.field_book_series">
                                                      <span class="badge-learn badge pull-right ng-scope" ng-switch-when="learning">Learner</span>
                                                  </span><br>
                                                  <p>By Nick Abbott</p>
                                                  <!-- Feefo Star Rating -->
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <img src="https://dz13w8afd47il.cloudfront.net/sites/all/themes/packt_v4/images/feefo-logo-simple.png" class="simple-feefo-logo">    
                                                    <!-- Feefo Star Rating END -->   
                                                  <br>
                                                  <p class="concat mb0 mt10"><strong>Continue Viewing:</strong> Chapter 2: Beginning Drupal</p>
                                              </a>
                                            </ul>
                                          </div>
                                        </div>
      
                                    </div>
                                    
                                     
                                    </div>


                                  <div role="tabpanel" class="tab-pane fade" id="recommended" aria-labelledby="recommended-tab">
                                    <div class="col-sm-12 col-lg-4 col-xl-3">
                                      <div class="panel panel-default ng-scope">
                                           <div class="panel-heading">
                                                <h3 class="panel-title">Python Developer Progress:</h3>
                                            </div>
                                            <div class="panel-body">
                                                <h4 class="lg-title"><strong class="ng-binding">2</strong> Card(s) Completed<small class="pull-right ng-binding">5</small></h4>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                        <span class="sr-only ng-binding">20% Complete (success)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      <div class="panel panel-default ng-scope">
                                           <div class="panel-heading">
                                                <h3 class="panel-title">Monthly Progress Tracker:</h3>
                                            </div>
                                            <div class="panel-body">
                                                <h4 class="lg-title"><strong class="ng-binding">5</strong> Section(s) Completed<small class="pull-right ng-binding">25</small></h4>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                        <span class="sr-only ng-binding">20% Complete (success)</span>
                                                    </div>
                                                </div>
                                                <h4 class="lg-title"><strong class="ng-binding">2</strong>hr(s) <strong class="ng-binding">2 </strong>min(s) spent learning<small class="pull-right ng-binding">4hrs</small></h4>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 51%">
                                                        <span class="sr-only ng-binding">51% Complete (success)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <small>You will receive a Course token when you spend more than 4 hours learning in a month and complete 25 sections. Each Course token can be redeemed for any eBook or Video from the library.</small>
                                            </div>
                                        </div>
                                        <ol class="breadcrumb hidden-xs ng-scope" ng-if="free_tokens || sub">
                                            <li><i class="fa fa-ticket mr10"></i>You have <strong class="ng-binding">24</strong> Free Course token(s) remaining</li>
                                      </ol>
                                    </div>
                                    <div class="col-sm-9">
                                        <h3>My Skill Cards</h3>
                                        <hr>
                                        <div class="grid row">
                                            <div class="element-item program col-sm-4 col-xl-2 text-center" data-category="program">
                                              <img class="img-responsive" src="images/tech/django.png"/>
                                              <h2 class="sm-card-heading">Django Up To Speed</h2>     
                                            </div>
                                            <div class="element-item program col-sm-4 col-xl-2 text-center" data-category="program">                  
                                              <img class="img-responsive" src="images/tech/java.png"/>
                                              <h2 class="sm-card-heading">RESTful Java Programming</h2>
                                            </div>
                                            <div class="element-item program col-sm-4 col-xl-2 text-center" data-category="program">
                                              <img class="img-responsive" src="images/tech/java.png"/>
                                              <h2 class="sm-card-heading">Reactive Java Programming</h2>
                                            </div>
                                            <div class="element-item admin col-sm-4 col-xl-2 text-center" data-category="admin">
                                              <img class="img-responsive" src="images/tech/mysql.png"/>
                                              <h2 class="sm-card-heading">MySQL Administration</h2> 
                                            </div>
                                            <div class="element-item tech col-sm-4 col-xl-2 text-center" data-category="tech">               
                                              <img class="img-responsive" src="images/tech/git.png"/>
                                              <h2 class="sm-card-heading">Git Fundamentals</h2>
                                            </div>
                                          </div>
                                          <hr>
                                            <h4 class="text-center">What are you really capable of? Why not discover <a href="select-skills.html">New Skill Cards</a> to Unlock?</h4>
                                    </div>
                                  </div>


                              </div>
                          </div>
                          

                        </div>
                  </div><!-- row -->
			</div><!-- /#book-wrapper -->
		</div><!-- /#page-content-wrapper -->
	</div><!-- /#wrapper -->
    

    <!-- JAVASCRIPT BLOCKS -->

    <!-- jQuery Script-->
    <script src="js/jquery.js"></script>
    <!-- Syntax Highlighting Script -->
    <script src="js/prism.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Sidebar Toggle Script -->
    <script src="js/simple-sidebar.js"></script>

    <script type="text/javascript">
    $( function() {
  // quick search regex
  var qsRegex;
  var buttonFilter;
  
  // init Isotope
  var $container = $('.grid').isotope({
    itemSelector: '.element-item',
    layoutMode: 'fitRows',
    filter: function() {
      var $this = $(this);
      var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
      var buttonResult = buttonFilter ? $this.is( buttonFilter ) : true;
      return searchResult && buttonResult;
    }
  });

  $('#filters').on( 'click', 'button', function() {
    buttonFilter = $( this ).attr('data-filter');
    $container.isotope();
  });
  
  // use value of search field to filter
  var $quicksearch = $('.quicksearch').keyup( debounce( function() {
    qsRegex = new RegExp( $quicksearch.val(), 'gi' );
    $container.isotope();
  }) );

  
    // change is-checked class on buttons
  $('.btn-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.active').removeClass('active');
      $( this ).addClass('active');
    });
  });
  
  
});

// debounce so filtering doesn't happen every millisecond
function debounce( fn, threshold ) {
  var timeout;
  return function debounced() {
    if ( timeout ) {
      clearTimeout( timeout );
    }
    function delayed() {
      fn();
      timeout = null;
    }
    setTimeout( delayed, threshold || 100 );
  };
}

    </script>

</body>

</html>
