<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learning C++ by Creating Games with UE4 - Chapter 3. Looping</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/bootstrap-xl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- Devicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- Prism -->
    <link rel="stylesheet" href="css/prism.css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="language-markup">

  

    <div id="wrapper">

        <!-- Top Nav Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand toggle-nav" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars fa-lg"></i></a>
                  <a class="brand-logo" href="dashboard.html"><img src="images/mapt.png"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#contact">Help</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret ml5"></span>
                        </a>
                        <a href="#" class="dropdown-toggle navbar-avatar-link hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="images/avatar.jpeg" alt="..." class="img-circle img-responsive navbar-avatar">
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a href="#">View Account</a></li> 
                            <li><a href="#">View Subscriptions</a></li> 
                            <li><a href="#">View Licences</a></li> 
                            <li role="separator" class="divider"></li> 
                            <li><a href="library-lo.html">Logout</a></li> 
                        </ul> 
                    </li>
                    </ul>
                    <form class="navbar-form navbar-right search-nav-collapse">
                        <div class="form-group pull-right" style="display:inline;">
                              <input class="form-control" type="text" placeholder="Search for a title...">
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
               <li><a href="index.html" class="sidenav-menu-holder"><span class="sidenav-menu">Currently Viewing</span><span class="pull-right mr5"><i class="fa fa-refresh fa-lg"></i></span></a>    </li>
              <li><a href="dashboard.html" class="sidenav-menu-holder"><span class="sidenav-menu">Dashboard</span><span class="pull-right mr5"><i class="fa fa-refresh fa-lg"></i></span></a>    </li>
              <li><a href="library.html" class="sidenav-menu-holder"><span class="sidenav-menu">Explore The Library </span><span class="pull-right mr5"><i class="fa fa-archive fa-lg"></i></span></a>    </li>
              <li><a href="dashboard-bookmark.html" class="sidenav-menu-holder"><span class="sidenav-menu">My Bookmarks </span><span class="pull-right mr5">6<i class="fa fa-bookmark fa-lg"></i></span></a>    </li>
              <li><a href="dashboard-collection.html" class="sidenav-menu-holder"><span class="sidenav-menu">My Collection </span><span class="pull-right mr5">12<i class="fa fa-plus fa-lg"></i></span></a>    </li>
              <li class="active"><a href="dashboard-owned.html" class="sidenav-menu-holder"><span class="sidenav-menu">Purchases  </span><span class="pull-right mr5">7<i class="fa fa-shopping-bag fa-lg"></i></span></a>    </li>
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper" class="">
            <div class="jumbotron heading">
                <div class="container-fluid">
                  <div class="col-sm-12">
                    <h1>Purchases</h1>
                    <ol class="breadcrumb row mt0">
                      <li class="active mt5">You can find all the titles you’ve bought displayed here. </li>
                    </ol>
                  </div>
                </div>
            </div>
            <div id="book-wrapper" onload="finishLoad()" ng-include="" src="views.book" class="container-fluid">               
                <div class="row">
                        <div class="col-sm-12">
                          <div ng-show="dashboard_counts.owned > 0" class="col-sm-offset-6 col-md-offset-8 col-lg-offset-9 col-sm-6 col-md-4 col-lg-3 mb20">
                              <select ng-change="sort_myOwned($event)" class="form-control ng-pristine ng-untouched ng-valid" name="sorted_myOwned" data-ng-options="o.name for o in dropdown_options_sort_owned track by o.id" data-ng-model="dropdown_selectedOption_sort"><option value="mostRecent" selected="selected" label="Sort by Most Recent">Sort by Most Recent</option><option value="oldest" label="Sort by Oldest">Sort by Oldest</option><option value="sortAZ" label="Sort A-Z">Sort A-Z</option><option value="sortZA" label="Sort Z-A">Sort Z-A</option></select>
                          </div>
                          <div class="col-sm-12">
                            <div ng-show="dashboard_counts.owned > 0" class="panel panel-default">
                                <ul class="list-group">
                                    <a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                          <img src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/9689_B03980_Practical%20Machine%20Learning_.jpg" class="img-product-list"/>
                                              <h1>Practical Machine Learning</h1>
                                              <p class="mb5">By Sunila Gollapudi</p>
                                                <!-- Feefo Star Rating -->
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <img src="https://dz13w8afd47il.cloudfront.net/sites/all/themes/packt_v4/images/feefo-logo-simple.png" class="simple-feefo-logo">
                                                <small> 35 review(s)</small>
                                                <!-- Feefo Star Rating END -->    
                                              <br>

                                              <small class="pull-left title-duration ng-binding mt10"><i class="fa fa-clock-o mr5"></i>14 hours 02 minutes</small><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope mt10">Jan 2016</small>
                                              <div class="clearfix">
                                              </div>
                                          </a><a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                              <img src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/8751OS_1698_Learning%20Drupal%208.jpg" class="img-product-list"/>
                                              <h1>Learning Drupal 8</h1>
                                              <p class="mb5">By Nick Abbott</p>
                                              <!-- Feefo Star Rating -->
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <img src="https://dz13w8afd47il.cloudfront.net/sites/all/themes/packt_v4/images/feefo-logo-simple.png" class="simple-feefo-logo">
                                                <small> 12 review(s)</small>
                                                <!-- Feefo Star Rating END -->   
                                              <br>
                                              <small class="pull-left title-duration ng-binding mt10"><i class="fa fa-clock-o mr5"></i>9 hours 50 minutes</small><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope mt10">Jan 2016</small>
                                              <div class="clearfix">
                                              </div>
                                          </a><a ng-repeat="(key, fivePopular) in fivePopular" href="/packtlib/book/Web-Development/9781785281341" class="list-group-item list-name ng-scope">
                                              <img src="https://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/4709_1341OS_Mastering%20JavaScript.jpg" class="img-product-list"/>
                                              <h1>Mastering JavaScript</h1>
                                              <p class="mb5">By Ved Antani</p>
                                              <!-- Feefo Star Rating -->
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <img src="https://dz13w8afd47il.cloudfront.net/sites/all/themes/packt_v4/images/feefo-logo-simple.png" class="simple-feefo-logo">
                                                <small> 0 review(s)</small>
                                                <!-- Feefo Star Rating END -->  
                                              <br>
                                              <small class="pull-left title-duration ng-binding mt10"><i class="fa fa-clock-o mr5"></i>7 hours 30 minutes</small><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope mt10">Jan 2016</small>
                                              <div class="clearfix">
                                              </div>
                                          </a><a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                              <img src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/3261OS_1782_Learning%20Predictive%20Analytics%20with%20Python.jpg" class="img-product-list"/>
                                              <h1>Learning Predictive Analytics with Python</h1>
                                              <p class="mb5">By Ashish Kumar</p>
                                              <!-- Feefo Star Rating -->
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <img src="https://dz13w8afd47il.cloudfront.net/sites/all/themes/packt_v4/images/feefo-logo-simple.png" class="simple-feefo-logo">
                                                <small> 1 review(s)</small>   
                                                <!-- Feefo Star Rating END -->   
                                              <br>
                                              <small class="pull-left title-duration ng-binding mt10"><i class="fa fa-clock-o mr5"></i>10 hours 37 minutes</small><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope mt10">Feb 2016</small>
                                              <div class="clearfix">
                                              </div>
                                          </a><a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                              <img src="https://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/bookretailers/9781783989805_new.jpg" class="img-product-list"/>
                                              <h1>Mastering Django Web Development [Video]</h1>
                                              <p class="mb5">By Kevin Veroneau </p>
                                              <!-- Feefo Star Rating -->
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <img src="https://dz13w8afd47il.cloudfront.net/sites/all/themes/packt_v4/images/feefo-logo-simple.png" class="simple-feefo-logo">   
                                                <small> 56 review(s)</small>
                                                <!-- Feefo Star Rating END -->  
                                              <br>
                                              <small class="pull-left title-duration ng-binding mt10"><i class="fa fa-clock-o mr5"></i>1 hour</small><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope mt10">Jan 2016</small>
                                              <div class="clearfix">
                                              </div>
                                          </a>
                                          <a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                              <img src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/3261OS_1782_Learning%20Predictive%20Analytics%20with%20Python.jpg" class="img-product-list"/>
                                              <h1>Learning Predictive Analytics with Python</h1>
                                              <p class="mb5">By Ashish Kumar</p>
                                              <!-- Feefo Star Rating -->
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <img src="https://dz13w8afd47il.cloudfront.net/sites/all/themes/packt_v4/images/feefo-logo-simple.png" class="simple-feefo-logo">
                                                <small> 1 review(s)</small>   
                                                <!-- Feefo Star Rating END -->   
                                              <br>
                                              <small class="pull-left title-duration ng-binding mt10"><i class="fa fa-clock-o mr5"></i>10 hours 37 minutes</small><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope mt10">Feb 2016</small>
                                              <div class="clearfix">
                                              </div>
                                          </a><a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                              <img src="https://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/bookretailers/9781783989805_new.jpg" class="img-product-list"/>
                                              <h1>Mastering Django Web Development [Video]</h1>
                                              <p class="mb5">By Kevin Veroneau </p>
                                              <!-- Feefo Star Rating -->
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <img src="https://dz13w8afd47il.cloudfront.net/sites/all/themes/packt_v4/images/feefo-logo-simple.png" class="simple-feefo-logo">   
                                                <small> 56 review(s)</small>
                                                <!-- Feefo Star Rating END -->  
                                              <br>
                                              <small class="pull-left title-duration ng-binding mt10"><i class="fa fa-clock-o mr5"></i>1 hour</small><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope mt10">Jan 2016</small>
                                              <div class="clearfix">
                                              </div>
                                          </a>
                                </ul>
                                <div class="panel-footer text-right ng-hide" ng-show="myOwned.pagination > 1">
                                    <nav>
                                        <ul class="pagination">
                                            <li id="paginationNumber" data-page="owned" ng-click="$event.preventDefault();click_pagination($event, myOwned.previous, 'owned');" class="disabled">
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">«</span>
                                                </a>
                                            </li>
                                            <!-- ngRepeat: i in getNumber(myOwned.pagination) track by $index --><li ng-repeat="i in getNumber(myOwned.pagination) track by $index" id="paginationNumber" ng-class="{active: myOwned.offset == $index}" data-page="owned" ng-click="$event.preventDefault();click_pagination($event, $index, 'owned');" class="ng-scope active">
                                                    <a href="#" class="ng-binding">1</a>
                                            </li><!-- end ngRepeat: i in getNumber(myOwned.pagination) track by $index -->
                                            <li id="paginationNumber" data-page="owned" ng-click="$event.preventDefault();click_pagination($event, myOwned.next, 'owned');" class="disabled"> 
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">»</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        </div>
                  </div><!-- row -->
			</div><!-- /#book-wrapper -->
		</div><!-- /#page-content-wrapper -->
	</div><!-- /#wrapper -->
    

    <!-- JAVASCRIPT BLOCKS -->

    <!-- jQuery Script-->
    <script src="js/jquery.js"></script>
    <!-- Syntax Highlighting Script -->
    <script src="js/prism.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Sidebar Toggle Script -->
    <script src="js/simple-sidebar.js"></script>

</body>

</html>
