<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learning C++ by Creating Games with UE4 - Chapter 3. Looping</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/bootstrap-xl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- Devicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- Prism -->
    <link rel="stylesheet" href="css/prism.css">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="language-markup">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header python">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <img class="tech-icon" src="images/tech/python.png"> 
                                    <h1 class="card-heading">Python Fundamentals </h1>
      </div>
      <div class="modal-body python">
        <div class="panel-body">
            <div class="col-sm-12">
              <p>Python is one of the easiest languages to get started with. It has a human readable syntax, and fully featured (“batteries included”) standard library to help you get things done right away. It is your portal in to a new world of productive development.</p>
              <hr>
            </div>

            <div class="col-sm-12 left-skillcard mb20">
                  <ul class="learning-points">
                    <li>Install and set up Python on Mac, Windows or Linux</li>
                    <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                    <li>Use Git to manage your Python code</li>
                    <li>Write Python scripts to automate daily tasks, and other software</li>
                    <li>Use unit tests to write better code, faster</li>
                  </ul>
              <a href="dashboard2.html" class="btn btn-success ml55 mb20">I know all of this <i class="glyphicon glyphicon-ok ml10"></i></a>
            </div>
          </div>
      </div>
      <div class="modal-footer python">
        <a href="dashboard.html" class="btn btn-primary">Add to In Progress<i class="fa fa-refresh ml10"></i></a>
      </div>
    </div>
  </div>
</div>
  

    <div id="wrapper">

        <!-- Top Nav Bar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand toggle-nav" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars fa-lg"></i></a>
                  <a class="brand-logo active" href="dashboard.html"><img src="images/mapt-logo.png"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#contact"><i class="fa fa-question-circle fa-lg mr5"></i> Help</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret ml5"></span>
                        </a>
                        <a href="#" class="dropdown-toggle navbar-avatar-link hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/000/222/015/06be2f6.jpg" alt="..." class="img-circle img-responsive navbar-avatar">
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a href="#">View Account</a></li> 
                            <li><a href="#">View Subscriptions</a></li> 
                            <li><a href="#">View Licences</a></li> 
                            <li role="separator" class="divider"></li> 
                            <li><a href="library-lo.html">Logout</a></li> 
                        </ul> 
                    </li>
                    </ul>
                    <form class="navbar-form navbar-right search-nav-collapse">
                        <div class="form-group pull-right" style="display:inline;">
                            <div class="input-group">
                              <input class="form-control" type="text" placeholder="Search the library...">
                              <span class="input-group-btn"><button href="search.html" class="btn btn-default" type="button"><i class="fa fa-search"></i></span></button></span>
                            </div>
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                    <li ><a href="dashboard.html" class="sidenav-menu-holder"><span class="sidenav-menu">Current Path</span><span class="pull-right mr5"><i class="fa fa-refresh fa-lg"></i></span></a>    </li>
                    <li><a href="dashboard-profile.html" class="sidenav-menu-holder"><span class="sidenav-menu">Passport  </span><span class="pull-right mr5"><i class="fa fa-bullseye fa-lg"></i></span></a>    </li>
                    <li><a href="select-goal.html" class="sidenav-menu-holder"><span class="sidenav-menu">Set a New Destination</span><span class="pull-right mr5"><i class="fa fa-bullseye fa-lg"></i></span></a>    </li>
                    <li class="active"><a href="library.html" class="sidenav-menu-holder"><span class="sidenav-menu">Library  </span><span class="pull-right mr5"><i class="fa fa-archive fa-lg"></i></span></a>    </li>
                    <li><a href="dashboard-bookmark.html" class="sidenav-menu-holder"><span class="sidenav-menu">My Bookmarks </span><span class="pull-right mr5">6<i class="fa fa-bookmark fa-lg"></i></span></a>    </li>
                    <li><a href="dashboard-collection.html" class="sidenav-menu-holder"><span class="sidenav-menu">My Collection </span><span class="pull-right mr5">12<i class="fa fa-plus fa-lg"></i></span></a>    </li>
                    <li><a href="dashboard-owned.html" class="sidenav-menu-holder"><span class="sidenav-menu">Purchases  </span><span class="pull-right mr5">7<i class="fa fa-shopping-bag fa-lg"></i></span></a>    </li>
                
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper" class="">
            <div class="jumbotron heading">
                <div class="container-fluid">
                  <div class="col-sm-12">
                    <h1>Library</h1>
                    <ol class="breadcrumb row mt0">
                      <li class="active mt5">Courses</li>
                    </ol>
                  </div>
                </div>
            </div>
            <div id="book-wrapper" onload="finishLoad()" ng-include="" src="views.book" class="container-fluid">               
                <div class="row">
                  <div class="col-sm-12">
                      <div class="col-sm-12">
                          <div class="alert alert-info alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="fa fa-info-circle fa-lg mr15"></i>Browse our vast collection of courses by topic and see what skills are trending around
the world.
                          </div>
                      </div>
                      <div class="col-sm-3 col-lg-3 col-xl-2">
                        <div class="panel panel-default">
                          <!-- Default panel contents -->
                          <div class="panel-heading"><h4 class="panel-title">Browse Topics</h4></div>
                          <ul class="list-group">
                            <a class="list-group-item" href="tech-page.html">    Android </a>    
                            <a class="list-group-item" href="tech-page.html">    AngularJS   </a>    
                            <a class="list-group-item" href="tech-page.html">    Arduino </a>    
                            <a class="list-group-item" href="tech-page.html">    Blender </a>    
                            <a class="list-group-item" href="tech-page.html">    Bootstrap   </a>    
                            <a class="list-group-item" href="tech-page.html">    Django  </a>    
                            <a class="list-group-item" href="tech-page.html">    Docker  </a>    
                            <a class="list-group-item" href="tech-page.html">    Drupal  </a>    
                            <a class="list-group-item" href="tech-page.html">    Hadoop  </a>    
                            <a class="list-group-item" href="tech-page.html">    iOS </a>    
                            <a class="list-group-item" href="tech-page.html">    Java    </a>    
                            <a class="list-group-item" href="tech-page.html">    JavaScript  </a>    
                            <a class="list-group-item" href="tech-page.html">    jQuery  </a>    
                            <a class="list-group-item" href="tech-page.html">    Laravel </a>    
                            <a class="list-group-item" href="tech-page.html">    Linux   </a>    
                            <a class="list-group-item" href="tech-page.html">    Machine Learning    </a>    
                            <a class="list-group-item" href="tech-page.html">    Node.js </a>    
                            <a class="list-group-item" href="tech-page.html">    OpenCV  </a>    
                            <a class="list-group-item" href="tech-page.html">    OpenStack   </a>    
                            <a class="list-group-item" href="tech-page.html">    Oracle  </a>    
                            <a class="list-group-item" href="tech-page.html">    PHP </a>    
                            <a class="list-group-item" href="tech-page.html">    Python  </a>    
                            <a class="list-group-item" href="tech-page.html">    QlikView    </a>    
                            <a class="list-group-item" href="tech-page.html">    R   </a>    
                            <a class="list-group-item" href="tech-page.html">    Spark   </a>    
                            <a class="list-group-item" href="tech-page.html">    Spring  </a>    
                            <a class="list-group-item" href="tech-page.html">    Swift   </a>    
                            <a class="list-group-item" href="tech-page.html">    Unity   </a>    
                            <a class="list-group-item" href="tech-page.html">    WordPress   </a>    
                          </ul>
                        </div> 
                      </div>
                      <div class="col-sm-9 col-xl-5">
                          <ul id="recommendationTabs" class="nav nav-pills nav-stacked text-center mt25 mb25 visible-xs" role="tablist">
                              <li class="active">
                                  <a href="#popular" role="tab" data-toggle="tab" aria-controls="popular" ng-click="$event.preventDefault();" aria-expanded="true">Popular</a>
                              </li>
                              <li>
                                  <a href="#new" role="tab" data-toggle="tab" aria-controls="new" ng-click="$event.preventDefault();getFiveRecent($event);" aria-expanded="false">New</a>
                              </li>
                              <!-- ngIf: userRecommendations -->
                          </ul>
                          <ul id="recommendationTabs" class="nav nav-pills nav-justified hidden-xs" role="tablist">
                              <li class="active">
                                  <a href="#popular" role="tab" data-toggle="tab" aria-controls="popular" ng-click="$event.preventDefault();" aria-expanded="false">Popular</a>
                              </li>
                              <li class="">
                                  <a href="#new" role="tab" data-toggle="tab" aria-controls="new" ng-click="$event.preventDefault();libraryController.getFiveRecent($event);" aria-expanded="false">New</a>
                              </li>
                              <li class="">
                                  <!-- ngIf: libraryController.userRecommendations --><a href="#recommended" ng-click="$event.preventDefault();" role="tab" data-toggle="tab" aria-controls="recommended" aria-expanded="true" ng-if="libraryController.userRecommendations" class="ng-scope">Recommended</a><!-- end ngIf: libraryController.userRecommendations -->
                              </li>
                          </ul>
                          <div class="tab-content mt15">
                              <div role="tabpanel" class="tab-pane fade active in" id="popular" aria-labelledby="popular-tab">
                                  <div class="panel panel-default tabbed-content">
                                      <ul class="list-group">
                                          <!-- ngRepeat: (key, fivePopular) in fivePopular --><a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                              <strong ng-bind-html="fivePopular.title" class="ng-binding">Practical Machine Learning</strong>
                                              <span class="animate-switch-container hidden-xs" ng-switch="" on="fivePopular.field_book_series">
                                                  <!-- ngSwitchWhen: learning --><span class="badge-learn badge pull-right ng-scope" ng-switch-when="learning">Learner</span><!-- end ngSwitchWhen: -->
                                                  <!-- ngSwitchWhen: beginners guide -->
                                                  <!-- ngSwitchWhen: mastering -->
                                                  <!-- ngSwitchWhen: essentials -->
                                                  <!-- ngSwitchWhen: blueprints -->
                                                  <!-- ngSwitchWhen: cookbook -->
                                                  <!-- ngSwitchWhen: by example -->
                                                  <!-- ngSwitchDefault:  -->
                                              </span><br>
                                              <small class="pull-left ng-binding">By Sunila Gollapudi</small>
                                              <br>
                                              <small class="pull-left title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>14 hours 02 minutes</small><!-- ngIf: fivePopular.field_date_of_publication[0].value --><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope">Jan 2016</small><!-- end ngIf: fivePopular.field_date_of_publication[0].value -->
                                              <div class="clearfix">
                                              </div>
                                          </a><!-- end ngRepeat: (key, fivePopular) in fivePopular --><a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                              <strong ng-bind-html="fivePopular.title" class="ng-binding">Learning Drupal 8</strong>
                                              <span class="animate-switch-container hidden-xs" ng-switch="" on="fivePopular.field_book_series">
                                                  <!-- ngSwitchWhen: learning --><span class="badge-learn badge pull-right ng-scope" ng-switch-when="learning">Learner</span><!-- end ngSwitchWhen: -->
                                                  <!-- ngSwitchWhen: beginners guide -->
                                                  <!-- ngSwitchWhen: mastering -->
                                                  <!-- ngSwitchWhen: essentials -->
                                                  <!-- ngSwitchWhen: blueprints -->
                                                  <!-- ngSwitchWhen: cookbook -->
                                                  <!-- ngSwitchWhen: by example -->
                                                  <!-- ngSwitchDefault:  -->
                                              </span><br>
                                              <small class="pull-left ng-binding">By Nick Abbott</small>
                                              <br>
                                              <small class="pull-left title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 50 minutes</small><!-- ngIf: fivePopular.field_date_of_publication[0].value --><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope">Jan 2016</small><!-- end ngIf: fivePopular.field_date_of_publication[0].value -->
                                              <div class="clearfix">
                                              </div>
                                          </a><!-- end ngRepeat: (key, fivePopular) in fivePopular --><a ng-repeat="(key, fivePopular) in fivePopular" href="/packtlib/book/Web-Development/9781785281341" class="list-group-item list-name ng-scope">
                                              <strong ng-bind-html="fivePopular.title" class="ng-binding">Mastering JavaScript</strong>
                                              <span class="animate-switch-container hidden-xs" ng-switch="" on="fivePopular.field_book_series">
                                                  <!-- ngSwitchWhen: learning -->
                                                  <!-- ngSwitchWhen: beginners guide -->
                                                  <!-- ngSwitchWhen: mastering --><span class="badge-master badge pull-right ng-scope" ng-switch-when="mastering">Expert</span><!-- end ngSwitchWhen: -->
                                                  <!-- ngSwitchWhen: essentials -->
                                                  <!-- ngSwitchWhen: blueprints -->
                                                  <!-- ngSwitchWhen: cookbook -->
                                                  <!-- ngSwitchWhen: by example -->
                                                  <!-- ngSwitchDefault:  -->
                                              </span><br>
                                              <small class="pull-left ng-binding">By Ved Antani</small>
                                              <br>
                                              <small class="pull-left title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>7 hours 30 minutes</small><!-- ngIf: fivePopular.field_date_of_publication[0].value --><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope">Jan 2016</small><!-- end ngIf: fivePopular.field_date_of_publication[0].value -->
                                              <div class="clearfix">
                                              </div>
                                          </a><!-- end ngRepeat: (key, fivePopular) in fivePopular --><a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                              <strong ng-bind-html="fivePopular.title" class="ng-binding">Learning Predictive Analytics with Python</strong>
                                              <span class="animate-switch-container hidden-xs" ng-switch="" on="fivePopular.field_book_series">
                                                  <!-- ngSwitchWhen: learning --><span class="badge-learn badge pull-right ng-scope" ng-switch-when="learning">Learner</span><!-- end ngSwitchWhen: -->
                                                  <!-- ngSwitchWhen: beginners guide -->
                                                  <!-- ngSwitchWhen: mastering -->
                                                  <!-- ngSwitchWhen: essentials -->
                                                  <!-- ngSwitchWhen: blueprints -->
                                                  <!-- ngSwitchWhen: cookbook -->
                                                  <!-- ngSwitchWhen: by example -->
                                                  <!-- ngSwitchDefault:  -->
                                              </span><br>
                                              <small class="pull-left ng-binding">By Ashish Kumar</small>
                                              <br>
                                              <small class="pull-left title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>10 hours 37 minutes</small><!-- ngIf: fivePopular.field_date_of_publication[0].value --><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope">Feb 2016</small><!-- end ngIf: fivePopular.field_date_of_publication[0].value -->
                                              <div class="clearfix">
                                              </div>
                                          </a><!-- end ngRepeat: (key, fivePopular) in fivePopular --><a ng-repeat="(key, fivePopular) in fivePopular" href="index.html" class="list-group-item list-name ng-scope">
                                              <strong ng-bind-html="fivePopular.title" class="ng-binding">Mastering Django Web Development [Video]</strong>
                                              <span class="animate-switch-container hidden-xs" ng-switch="" on="fivePopular.field_book_series">
                                                  <!-- ngSwitchWhen: learning -->
                                                  <!-- ngSwitchWhen: beginners guide -->
                                                  <!-- ngSwitchWhen: mastering --><span class="badge-master badge pull-right ng-scope" ng-switch-when="mastering">Expert</span><!-- end ngSwitchWhen: -->
                                                  <!-- ngSwitchWhen: essentials -->
                                                  <!-- ngSwitchWhen: blueprints -->
                                                  <!-- ngSwitchWhen: cookbook -->
                                                  <!-- ngSwitchWhen: by example -->
                                                  <!-- ngSwitchDefault:  -->
                                              </span><br>
                                              <small class="pull-left ng-binding">By Kevin Veroneau </small>
                                              <br>
                                              <small class="pull-left title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>1 hour</small><!-- ngIf: fivePopular.field_date_of_publication[0].value --><small ng-if="fivePopular.field_date_of_publication[0].value" class="pull-right mr10 ng-binding ng-scope">Jan 2016</small><!-- end ngIf: fivePopular.field_date_of_publication[0].value -->
                                              <div class="clearfix">
                                              </div>
                                          </a><!-- end ngRepeat: (key, fivePopular) in fivePopular -->
                                      </ul>
                                  </div>
                              </div>

                              <div role="tabpanel" class="tab-pane fade" id="new" aria-labelledby="new-tab">
                                  <div class="panel panel-default tabbed-content">
                                      <ul class="list-group">
                                          <!-- ngRepeat: (key, fiveRecent) in fiveRecent --><a ng-repeat="(key, fiveRecent) in fiveRecent" href="index.html" class="list-group-item list-name ng-scope">
                                              <strong ng-bind-html="fiveRecent.title" class="ng-binding">Learning Scrapy</strong>
                                              <span class="animate-switch-container hidden-xs" ng-switch="" on="fiveRecent.ss_cck_field_book_series">
                                                  <!-- ngSwitchWhen: learning --><span class="badge-learn badge pull-right ng-scope" ng-switch-when="learning">Learner</span><!-- end ngSwitchWhen: -->
                                                  <!-- ngSwitchWhen: beginners guide -->
                                                  <!-- ngSwitchWhen: mastering -->
                                                  <!-- ngSwitchWhen: essentials -->
                                                  <!-- ngSwitchWhen: blueprints -->
                                                  <!-- ngSwitchWhen: cookbook -->
                                                  <!-- ngSwitchWhen: by example -->
                                                  <!-- ngSwitchDefault:  -->
                                              </span><br>
                                              <small class="pull-left ng-binding">By Dimitrios Kouzis-Loukas</small>
                                              <br>
                                              <small class="pull-left title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>8 hours 06 minutes</small><!-- ngIf: fiveRecent.ss_cck_field_date_of_publication --><small ng-if="fiveRecent.ss_cck_field_date_of_publication" class="pull-right mr10 ng-binding ng-scope">Jan 2016</small><!-- end ngIf: fiveRecent.ss_cck_field_date_of_publication -->
                                              <div class="clearfix">
                                              </div>
                                          </a><!-- end ngRepeat: (key, fiveRecent) in fiveRecent --><a ng-repeat="(key, fiveRecent) in fiveRecent" href="/packtlib/book/Big-Data-and-Business-Intelligence/9781784391010" class="list-group-item list-name ng-scope">
                                              <strong ng-bind-html="fiveRecent.title" class="ng-binding">Elasticsearch Essentials</strong>
                                              <span class="animate-switch-container hidden-xs" ng-switch="" on="fiveRecent.ss_cck_field_book_series">
                                                  <!-- ngSwitchWhen: learning -->
                                                  <!-- ngSwitchWhen: beginners guide -->
                                                  <!-- ngSwitchWhen: mastering -->
                                                  <!-- ngSwitchWhen: essentials --><span class="badge-learn badge pull-right ng-scope" ng-switch-when="essentials">Learner</span><!-- end ngSwitchWhen: -->
                                                  <!-- ngSwitchWhen: blueprints -->
                                                  <!-- ngSwitchWhen: cookbook -->
                                                  <!-- ngSwitchWhen: by example -->
                                                  <!-- ngSwitchDefault:  -->
                                              </span><br>
                                              <small class="pull-left ng-binding">By Bharvi Dixit</small>
                                              <br>
                                              <small class="pull-left title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>7 hours 12 minutes</small><!-- ngIf: fiveRecent.ss_cck_field_date_of_publication --><small ng-if="fiveRecent.ss_cck_field_date_of_publication" class="pull-right mr10 ng-binding ng-scope">Jan 2016</small><!-- end ngIf: fiveRecent.ss_cck_field_date_of_publication -->
                                              <div class="clearfix">
                                              </div>
                                          </a><!-- end ngRepeat: (key, fiveRecent) in fiveRecent --><a ng-repeat="(key, fiveRecent) in fiveRecent" href="/packtlib/book/Web-Development/9781785886775" class="list-group-item list-name ng-scope">
                                              <strong ng-bind-html="fiveRecent.title" class="ng-binding">Web Development with Django Cookbook - Second Edition</strong>
                                              <span class="animate-switch-container hidden-xs" ng-switch="" on="fiveRecent.ss_cck_field_book_series">
                                                  <!-- ngSwitchWhen: learning -->
                                                  <!-- ngSwitchWhen: beginners guide -->
                                                  <!-- ngSwitchWhen: mastering -->
                                                  <!-- ngSwitchWhen: essentials -->
                                                  <!-- ngSwitchWhen: blueprints -->
                                                  <!-- ngSwitchWhen: cookbook --><span class="badge-build badge pull-right ng-scope" ng-switch-when="cookbook">Projects</span><!-- end ngSwitchWhen: -->
                                                  <!-- ngSwitchWhen: by example -->
                                                  <!-- ngSwitchDefault:  -->
                                              </span><br>
                                              <small class="pull-left ng-binding">By Aidas Bendoraitis</small>
                                              <br>
                                              <small class="pull-left title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>11 hours 31 minutes</small><!-- ngIf: fiveRecent.ss_cck_field_date_of_publication --><small ng-if="fiveRecent.ss_cck_field_date_of_publication" class="pull-right mr10 ng-binding ng-scope">Jan 2016</small><!-- end ngIf: fiveRecent.ss_cck_field_date_of_publication -->
                                              <div class="clearfix">
                                              </div>
                                          </a><!-- end ngRepeat: (key, fiveRecent) in fiveRecent --><a ng-repeat="(key, fiveRecent) in fiveRecent" href="/packtlib/book/Big-Data-and-Business-Intelligence/9781785882371" class="list-group-item list-name ng-scope">
                                              <strong ng-bind-html="fiveRecent.title" class="ng-binding">Splunk Developer's Guide - Second Edition</strong>
                                              <span class="animate-switch-container hidden-xs" ng-switch="" on="fiveRecent.ss_cck_field_book_series">
                                                  <!-- ngSwitchWhen: learning --><span class="badge-learn badge pull-right ng-scope" ng-switch-when="learning">Learner</span><!-- end ngSwitchWhen: -->
                                                  <!-- ngSwitchWhen: beginners guide -->
                                                  <!-- ngSwitchWhen: mastering -->
                                                  <!-- ngSwitchWhen: essentials -->
                                                  <!-- ngSwitchWhen: blueprints -->
                                                  <!-- ngSwitchWhen: cookbook -->
                                                  <!-- ngSwitchWhen: by example -->
                                                  <!-- ngSwitchDefault:  -->
                                              </span><br>
                                              <small class="pull-left ng-binding">By Kyle Smith</small>
                                              <br>
                                              <small class="pull-left title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>5 hours 42 minutes</small><!-- ngIf: fiveRecent.ss_cck_field_date_of_publication --><small ng-if="fiveRecent.ss_cck_field_date_of_publication" class="pull-right mr10 ng-binding ng-scope">Jan 2016</small><!-- end ngIf: fiveRecent.ss_cck_field_date_of_publication -->
                                              <div class="clearfix">
                                              </div>
                                          </a><!-- end ngRepeat: (key, fiveRecent) in fiveRecent --><a ng-repeat="(key, fiveRecent) in fiveRecent" href="/packtlib/book/Application-Development/9781785282584" class="list-group-item list-name ng-scope">
                                              <strong ng-bind-html="fiveRecent.title" class="ng-binding">Building a Recommendation Engine with Scala</strong>
                                              <span class="animate-switch-container hidden-xs" ng-switch="" on="fiveRecent.ss_cck_field_book_series">
                                                  <!-- ngSwitchWhen: learning -->
                                                  <!-- ngSwitchWhen: beginners guide -->
                                                  <!-- ngSwitchWhen: mastering -->
                                                  <!-- ngSwitchWhen: essentials -->
                                                  <!-- ngSwitchWhen: blueprints -->
                                                  <!-- ngSwitchWhen: cookbook -->
                                                  <!-- ngSwitchWhen: by example -->
                                                  <!-- ngSwitchDefault:  --><span class="badge-general badge pull-right ng-scope" ng-switch-default="">General</span><!-- end ngSwitchWhen: -->
                                              </span><br>
                                              <small class="pull-left ng-binding">By Saleem Ansari</small>
                                              <br>
                                              <small class="pull-left title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>4 hours 55 minutes</small><!-- ngIf: fiveRecent.ss_cck_field_date_of_publication --><small ng-if="fiveRecent.ss_cck_field_date_of_publication" class="pull-right mr10 ng-binding ng-scope">Jan 2016</small><!-- end ngIf: fiveRecent.ss_cck_field_date_of_publication -->
                                              <div class="clearfix">
                                              </div>
                                          </a><!-- end ngRepeat: (key, fiveRecent) in fiveRecent -->
                                      </ul>
                                  </div>
                              </div>

                              <div role="tabpanel" class="tab-pane fade" id="recommended" aria-labelledby="recommended-tab">
                                  <!-- ngIf: userRecommendations -->
                              </div>

                          </div>
                      </div>
                      <div class="col-sm-9 col-lg-9 col-xl-5">
                          <h3 class="mt5 pull-left">Trending Skills </h3><a href="select-skills.html" class="btn btn-default pull-right"> View All Skills</a>
                          <div class="clearfix"></div>
                          <hr>
                          
                          <div class="grid row">
                            <!-- Skill Card -->
                            <div class="element-item program col-sm-4" data-category="program">
                              <div class="panel panel-default  text-center clickable sm-card" data-toggle="modal" data-target="#myModal">
                                <div class="panel-heading python">
                                      <div class="inner-card-sm">
                                        <img class="tech-icon-sm" src="images/tech/python.png"/>
                                        <h1 class="sm-card-heading">Python Fundamentals</h1>
                                      </div>
                                </div>
                              </div>
                            </div>
                            <!-- Skill Card END -->
                            <!-- Skill Card -->
                            <div class="element-item program col-sm-4" data-category="program">
                              <div class="panel panel-default  text-center clickable sm-card" data-toggle="modal" data-target="#myModal">
                                <div class="panel-heading python">
                                    <div class="inner-card-sm">
                                      <img class="tech-icon-sm" src="images/tech/python.png"/>
                                      <h1 class="sm-card-heading">High Performance Python</h1>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- Skill Card END -->
                            <!-- Skill Card -->
                            <div class="element-item program col-sm-4" data-category="program">
                              <div class="panel panel-default  text-center clickable sm-card" data-toggle="modal" data-target="#myModal">
                                <div class="panel-heading python">
                                    <div class="inner-card-sm">
                                      <img class="tech-icon-sm" src="images/tech/python.png"/>
                                      <h1 class="sm-card-heading">Unlocking Python Objects</h1>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- Skill Card END -->
                            <!-- Skill Card -->
                            <div class="element-item dev col-sm-4" data-category="dev">
                              <div class="panel panel-default  text-center clickable sm-card" data-toggle="modal" data-target="#myModal">
                                <div class="panel-heading python">
                                    <div class="inner-card-sm">
                                      <img class="tech-icon-sm" src="images/tech/python.png"/>
                                      <h1 class="sm-card-heading">Testing Python</h1>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Skill Card END -->
                            <!-- Skill Card -->
                            <div class="element-item tech col-sm-4" data-category="tech">
                              <div class="panel panel-default  text-center clickable sm-card" data-toggle="modal" data-target="#myModal">
                                <div class="panel-heading python">
                                    <div class="inner-card-sm">
                                      <img class="tech-icon-sm" src="images/tech/python.png"/>
                                      <h1 class="sm-card-heading">Data Analysis with Python</h1>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- Skill Card END -->
                            <!-- Skill Card -->
                            <div class="element-item program col-sm-4" data-category="program">
                              <div class="panel panel-default  text-center clickable sm-card" data-toggle="modal" data-target="#myModal">
                                <div class="panel-heading django">
                                    <div class="inner-card-sm">
                                      <img class="tech-icon-sm" src="images/tech/django.png"/>
                                      <h1 class="sm-card-heading">Production Ready Django</h1>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- Skill Card END -->
                            
                          </div>

                      </div>
                    </div>
                </div><!-- row -->
			</div><!-- /#book-wrapper -->
		</div><!-- /#page-content-wrapper -->
	</div><!-- /#wrapper -->
    

    <!-- JAVASCRIPT BLOCKS -->

    <!-- jQuery Script-->
    <script src="js/jquery.js"></script>
    <!-- Syntax Highlighting Script -->
    <script src="js/prism.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Sidebar Toggle Script -->
    <script src="js/simple-sidebar.js"></script>

</body>

</html>
