<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learning C++ by Creating Games with UE4 - Chapter 3. Looping</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/bootstrap-xl.css" rel="stylesheet">

    <!-- Devicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- Prism -->
    <link rel="stylesheet" href="css/prism.css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Lato:400,500,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="language-markup">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content python">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <img class="tech-icon" src="images/tech/python.png"> 
                                    <span class="card-heading">Python Fundamentals </span>
      </div>
      <div class="modal-body python">
        <div class="panel-body">
            <div class="col-sm-12">
              <p>Python is one of the easiest languages to get started with. It has a human readable syntax, and fully featured (“batteries included”) standard library to help you get things done right away. It is your portal in to a new world of productive development.</p>
              <hr>
            </div>

            <div class="col-sm-12 dashboard-skillcard mb20">
                  <ul class="learning-points">
                    <li>Install and set up Python on Mac, Windows or Linux</li>
                    <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                    <li>Use Git to manage your Python code</li>
                    <li>Write Python scripts to automate daily tasks, and other software</li>
                    <li>Use unit tests to write better code, faster</li>
                  </ul>
              
            </div>
          </div>
      </div>
      <div class="modal-footer python">
        <a href="dashboard.html" class="btn btn-success">I know all of this <i class="glyphicon glyphicon-ok ml10"></i></a>
        <a href="dashboard.html" class="btn btn-danger">Remove from Path<i class="fa fa-minus ml10"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content java">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <img class="tech-icon" src="images/tech/java.png"> 
                                    <span class="card-heading">Reactive Java Programming</span>
      </div>
      <div class="modal-body python">
        <div class="panel-body">
            <div class="col-sm-12">
              <p>Python is one of the easiest languages to get started with. It has a human readable syntax, and fully featured (“batteries included”) standard library to help you get things done right away. It is your portal in to a new world of productive development.</p>
              <hr>
            </div>

            <div class="col-sm-12 dashboard-skillcard mb20">
                  <ul class="learning-points">
                    <li>Install and set up Python on Mac, Windows or Linux</li>
                    <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                    <li>Use Git to manage your Python code</li>
                    <li>Write Python scripts to automate daily tasks, and other software</li>
                    <li>Use unit tests to write better code, faster</li>
                  </ul>
              
            </div>
          </div>
      </div>
      <div class="modal-footer python">
        <a href="dashboard.html" class="btn btn-success">I know all of this <i class="glyphicon glyphicon-ok ml10"></i></a>
        <a href="dashboard.html" class="btn btn-default">Add to Path<i class="fa fa-plus ml10"></i></a>
      </div>
    </div>
  </div>
</div>
  

    <div id="wrapper">

        <!-- Top Nav Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand toggle-nav" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars fa-lg"></i></a>
                  <a class="brand-logo" href="dashboard.html"><img src="images/mapt.png"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="index.html">Viewing</a></li>
                        <li><a href="library.html">Library</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret ml5"></span>
                        </a>
                        <a href="#" class="dropdown-toggle navbar-avatar-link hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="images/avatar.jpeg" alt="..." class="img-circle img-responsive navbar-avatar">
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a href="#">View Account</a></li> 
                            <li><a href="#">View Subscriptions</a></li> 
                            <li><a href="#">View Licences</a></li> 
                            <li role="separator" class="divider"></li> 
                            <li><a href="library-lo.html">Logout</a></li> 
                        </ul> 
                    </li>
                    </ul>
                    <form class="navbar-form navbar-right search-nav-collapse">
                        <div class="form-group pull-right" style="display:inline;">
                              <input class="form-control" type="text" placeholder="Search for a title...">
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- Sidebar -->
         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li><a href="dashboard.html" class="sidenav-menu-holder"><span class="sidenav-menu">My Map</span><span class="pull-right mr15"><i class="fa fa-map fa-lg"></i></span></a>    </li>
              <li><a href="skills.html" class="sidenav-menu-holder"><span class="sidenav-menu">Skills</span><span class="pull-right mr15"><i class="fa fa-dot-circle-o fa-lg"></i></span></a>    </li>
              <li><a href="dashboard-profile.html" class="sidenav-menu-holder"><span class="sidenav-menu">My Progress</span><span class="pull-right mr15"><i class="fa fa-line-chart fa-lg"></i></span></a>    </li>
              <li class="active"><a href="select-goal.html" class="sidenav-menu-holder"><span class="sidenav-menu">Roles</span><span class="pull-right mr15"><i class="fa fa-suitcase fa-lg"></i></span></a>    </li>
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper" class="">
          <div class="jumbotron heading mb0">
              <div class="container-fluid">
                <div class="col-sm-12">
                  <h1 >Roles</h1>
                    <ol class="breadcrumb row mt0">
                      <li class="active mt5">Select a Role that best fits your current responsibilities and work</li>
                    </ol>
                </div>
              </div>
          </div>
          <div id="book-wrapper" onload="finishLoad()" ng-include="" src="views.book" class="container-fluid">               
              <div class="row">
                <div class="">

                <div class="col-sm-12 mt5">
                          <ul id="recommendationTabs" class="nav nav-tabs nav-justified hidden-xs mb40" role="tablist">
                              <li class="active">
                                  <a href="#web" role="tab" data-toggle="tab" aria-controls="web" ng-click="$event.preventDefault();" aria-expanded="false"><h5>Web Development</h5></a>
                              </li>
                              <li class="">
                                  <a href="#app" role="tab" data-toggle="tab" aria-controls="app" ng-click="$event.preventDefault();libraryController.getFiveRecent($event);" aria-expanded="false"><h5>App Development</h5></a>
                              </li>
                              <li class="">
                                  <a href="#game" role="tab" data-toggle="tab" aria-controls="game" ng-click="$event.preventDefault();libraryController.getFiveRecent($event);" aria-expanded="false"><h5>Game Development</h5></a>
                              </li>
                              <li class="">
                                  <a href="#data" role="tab" data-toggle="tab" aria-controls="data" ng-click="$event.preventDefault();libraryController.getFiveRecent($event);" aria-expanded="false"><h5>Data Science</h5></a>
                              </li>
                              <li class="">
                                  <a href="#dev" role="tab" data-toggle="tab" aria-controls="dev" ng-click="$event.preventDefault();libraryController.getFiveRecent($event);" aria-expanded="false"><h5>DevOps</h5></a>
                              </li>
                          </ul>
                      </div>
                    
                      <div class="col-sm-12 col-lg-offset-1 col-lg-10">
                        <div class="tab-content mt15">
                              <div role="tabpanel" class="tab-pane fade active in" id="web" aria-labelledby="web-tab">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel python panel-default">
                                                  <div class="panel-heading python clickable" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                                      <!-- <img class="tech-icon drop hidden-xs" src="images/tech/python.png"/> -->
                                                      <span class="card-heading mb5 mt0">Front-end Web Developer</span>
                                                  </div>
                                                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                      <div class="col-sm-12">
                                                        <div class="">
                                                          <div class="dashboard-skillcard">
                                                            <ul class="learning-points mt20">
                                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                                <li>Use Git to manage your Python code</li>
                                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                                <li>Use unit tests to write better code, faster</li>
                                                            </ul>
                                                            <div class="">
                                                                <a href="card-sort.html" class="btn btn-info btn-lg mt10 mb5 pl25 pr25 pull-right">Select Role<i class="fa fa-chevron-right ml10"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                      </div>
                                                    </div>
                                                  </div> <!-- Panel -->
                                                <div class="panel python panel-default">
                                                  <div class="panel-heading python clickable" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                                      <!-- <img class="tech-icon drop hidden-xs" src="images/tech/java.png"/> -->
                                                      <span class="card-heading mb5 mt0">Back-end Web Developer</span>
                                                  </div>
                                                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                      <div class="col-sm-12">
                                                        <div class="">
                                                          <div class="dashboard-skillcard">
                                                            <ul class="learning-points mt20">
                                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                                <li>Use Git to manage your Python code</li>
                                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                                <li>Use unit tests to write better code, faster</li>
                                                            </ul>
                                                            <div class="">
                                                                <a href="card-sort.html" class="btn btn-info btn-lg mt10 mb5 pl25 pr25 pull-right">Select Role<i class="fa fa-chevron-right ml10"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                      </div>
                                                    </div>
                                                  </div> <!-- Panel -->
                                                <div class="panel python panel-default">
                                                  <div class="panel-heading python clickable" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                      <!-- <img class="tech-icon drop hidden-xs" src="images/tech/django.png"/> -->
                                                      <span class="card-heading mb5 mt0">Full-stack Web Developer</span>
                                                  </div>
                                                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                      <div class="col-sm-12">
                                                        <div class="">
                                                          <div class="dashboard-skillcard">
                                                            <ul class="learning-points mt20">
                                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                                <li>Use Git to manage your Python code</li>
                                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                                <li>Use unit tests to write better code, faster</li>
                                                            </ul>
                                                            <div class="">
                                                                <a href="card-sort.html" class="btn btn-info btn-lg mt10 mb5 pl25 pr25 pull-right">Select Role<i class="fa fa-chevron-right ml10"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                      </div>
                                                    </div>
                                                  </div> 
                                                </div><!-- Panel group -->
                                              </div><!-- Tab Panel Close -->
                                              <div role="tabpanel" class="tab-pane fade active" id="app" aria-labelledby="app-tab">
                                                <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                                <div class="panel python panel-default">
                                                  <div class="panel-heading python clickable" data-toggle="collapse" data-parent="#accordion2" href="#monkey3" aria-expanded="true" aria-controls="monkey3">
                                                      <!-- <img class="tech-icon drop hidden-xs" src="images/tech/python.png"/> -->
                                                      <span class="card-heading mb5 mt0">Python Developer</span>
                                                  </div>
                                                  <div id="monkey3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                      <div class="col-sm-12">
                                                        <div class="">
                                                          <div class="dashboard-skillcard">
                                                            <ul class="learning-points mt20">
                                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                                <li>Use Git to manage your Python code</li>
                                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                                <li>Use unit tests to write better code, faster</li>
                                                            </ul>
                                                            <div class="">
                                                                <a href="card-sort.html" class="btn btn-info btn-lg mt10 mb5 pl25 pr25 pull-right">Select Role<i class="fa fa-chevron-right ml10"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                      </div>
                                                    </div>
                                                  </div> <!-- Panel -->
                                                <div class="panel python panel-default">
                                                  <div class="panel-heading python clickable" data-toggle="collapse" data-parent="#accordion2" href="#monkey2" aria-expanded="true" aria-controls="monkey2">
                                                      <!-- <img class="tech-icon drop hidden-xs" src="images/tech/java.png"/> -->
                                                      <span class="card-heading mb5 mt0">Android Developer</span>
                                                  </div>
                                                  <div id="monkey2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                      <div class="col-sm-12">
                                                        <div class="">
                                                          <div class="dashboard-skillcard">
                                                            <ul class="learning-points mt20">
                                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                                <li>Use Git to manage your Python code</li>
                                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                                <li>Use unit tests to write better code, faster</li>
                                                            </ul>
                                                            <div class="">
                                                                <a href="card-sort.html" class="btn btn-info btn-lg mt10 mb5 pl25 pr25 pull-right">Select Role<i class="fa fa-chevron-right ml10"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                      </div>
                                                    </div>
                                                  </div> <!-- Panel -->
                                                <div class="panel python panel-default">
                                                  <div class="panel-heading python clickable" data-toggle="collapse" data-parent="#accordion2" href="#monkey1" aria-expanded="true" aria-controls="monkey1">
                                                      <!-- <img class="tech-icon drop hidden-xs" src="images/tech/django.png"/> -->
                                                      <span class="card-heading mb5 mt0">iOS Developer</span>
                                                  </div>
                                                  <div id="monkey1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                      <div class="col-sm-12">
                                                        <div class="">
                                                          <div class="dashboard-skillcard">
                                                            <ul class="learning-points mt20">
                                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                                <li>Use Git to manage your Python code</li>
                                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                                <li>Use unit tests to write better code, faster</li>
                                                            </ul>
                                                            <div class="">
                                                                <a href="card-sort.html" class="btn btn-info btn-lg mt10 mb5 pl25 pr25 pull-right">Select Role<i class="fa fa-chevron-right ml10"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                      </div>
                                                    </div>
                                                  </div> 
                                                </div><!-- Panel group -->
                                              </div><!-- Tab Panel Close -->
                                              <div role="tabpanel" class="tab-pane fade active" id="game" aria-labelledby="game-tab">
                                                <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
                                                <div class="panel python panel-default">
                                                  <div class="panel-heading python clickable" data-toggle="collapse" data-parent="#accordion3" href="#bunny1" aria-expanded="true" aria-controls="bunny1">
                                                      <!-- <img class="tech-icon drop hidden-xs" src="images/tech/python.png"/> -->
                                                      <span class="card-heading mb5 mt0">Unity Developer</span>
                                                  </div>
                                                  <div id="bunny1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                      <div class="col-sm-12">
                                                        <div class="">
                                                          <div class="dashboard-skillcard">
                                                            <ul class="learning-points mt20">
                                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                                <li>Use Git to manage your Python code</li>
                                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                                <li>Use unit tests to write better code, faster</li>
                                                            </ul>
                                                            <div class="">
                                                                <a href="card-sort.html" class="btn btn-info btn-lg mt10 mb5 pl25 pr25 pull-right">Select Role<i class="fa fa-chevron-right ml10"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div><!-- Panel group -->
                                              </div><!-- Tab Panel Close -->
                                              <div role="tabpanel" class="tab-pane fade active" id="data" aria-labelledby="data-tab">
                                                <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
                                                <div class="panel python panel-default">
                                                  <div class="panel-heading python clickable" data-toggle="collapse" data-parent="#accordion3" href="#hedgehog" aria-expanded="true" aria-controls="hedgehog">
                                                      <!-- <img class="tech-icon drop hidden-xs" src="images/tech/python.png"/> -->
                                                      <span class="card-heading mb5 mt0">Data Scientist</span>
                                                  </div>
                                                  <div id="hedgehog" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                      <div class="col-sm-12">
                                                        <div class="">
                                                          <div class="dashboard-skillcard">
                                                            <ul class="learning-points mt20">
                                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                                <li>Use Git to manage your Python code</li>
                                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                                <li>Use unit tests to write better code, faster</li>
                                                            </ul>
                                                            <div class="">
                                                                <a href="card-sort.html" class="btn btn-info btn-lg mt10 mb5 pl25 pr25 pull-right">Select Role<i class="fa fa-chevron-right ml10"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div><!-- Panel group -->
                                              </div><!-- Tab Panel Close -->
                                              <div role="tabpanel" class="tab-pane fade active" id="dev" aria-labelledby="dev-tab">
                                                <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
                                                <div class="panel python panel-default">
                                                  <div class="panel-heading python clickable" data-toggle="collapse" data-parent="#accordion3" href="#plo" aria-expanded="true" aria-controls="plo">
                                                      <!-- <img class="tech-icon drop hidden-xs" src="images/tech/python.png"/> -->
                                                      <span class="card-heading mb5 mt0">Penetration Tester</span>
                                                  </div>
                                                  <div id="plo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                      <div class="col-sm-12">
                                                        <div class="">
                                                          <div class="dashboard-skillcard">
                                                            <ul class="learning-points mt20">
                                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                                <li>Use Git to manage your Python code</li>
                                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                                <li>Use unit tests to write better code, faster</li>
                                                            </ul>
                                                            <div class="">
                                                                <a href="card-sort.html" class="btn btn-info btn-lg mt10 mb5 pl25 pr25 pull-right">Select Role<i class="fa fa-chevron-right ml10"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="panel python panel-default">
                                                  <div class="panel-heading python clickable" data-toggle="collapse" data-parent="#accordion3" href="#plo1" aria-expanded="true" aria-controls="plo1">
                                                      <!-- <img class="tech-icon drop hidden-xs" src="images/tech/python.png"/> -->
                                                      <span class="card-heading mb5 mt0">Big Data Engineer</span>
                                                  </div>
                                                  <div id="plo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                      <div class="col-sm-12">
                                                        <div class="">
                                                          <div class="dashboard-skillcard">
                                                            <ul class="learning-points mt20">
                                                                <li>Install and set up Python on Mac, Windows or Linux</li>
                                                                <li>Write elegant, reusable, and efficient Python code to use in your future projects</li>
                                                                <li>Use Git to manage your Python code</li>
                                                                <li>Write Python scripts to automate daily tasks, and other software</li>
                                                                <li>Use unit tests to write better code, faster</li>
                                                            </ul>
                                                            <div class="">
                                                                <a href="card-sort.html" class="btn btn-info btn-lg mt10 mb5 pl25 pr25 pull-right">Select Role<i class="fa fa-chevron-right ml10"></i></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div><!-- Panel group -->
                                              </div><!-- Tab Panel Close -->
                                            </div><!-- Tab Content End-->
                          

                      </div>
                    </div>
                    </div>


                              </div>
                          </div>
                </div>
              </div><!-- row -->
    			</div><!-- /#book-wrapper -->
    		</div><!-- /#page-content-wrapper -->
    	</div><!-- /#wrapper -->
    

    <!-- JAVASCRIPT BLOCKS -->

    <!-- jQuery Script-->
    <script src="js/jquery.js"></script>
    <!-- Syntax Highlighting Script -->
    <script src="js/prism.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Sidebar Toggle Script -->
    <script src="js/simple-sidebar.js"></script>
    
</body>

</html>
